.detail--box{
    display: grid;
    grid-template-columns: 250px 1fr;
    /* border: 1px solid blue; */
    position: absolute;
    margin: 50px;
}
.detail--image{
    height: 270px;
    width: 190px;
    border-radius: 15px;
    margin: 30px 30px;
    outline: solid 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.detail--description{
    margin: 30px 50px 30px 0;
    width: 80%;
}
.detail--description > p{
    font-size: .8rem;
    margin: 10px 0;
}
.detail--description > h2 {
    margin: 5px 0;
}
.votes{
    background-color: rgb(212, 144, 35);
    border-radius: 5px;
    color: black;
    width: fit-content;
    font-weight: bold;
    margin-right: 10px;
}
.votes-releaseDate{
    display: flex;
}
.votes-releaseDate > p{
    font-size: .8rem;
}
.movieDetails--preview--box{
    height: 800px;
    display: flex;
    align-items: end;
    /* justify-content: center; */
    padding-bottom: 20px;
}
.movieDetails--image{
    opacity: .5;
}
.movieDetails{
    height: 1200px;
    width: 100%;
    position: relative;
}
.relatedMovies--h1{
    margin-left: 20px;
}
.relatedMovies{
    display: flex;
    margin-left: 50px;
}