body{
    position: relative;
    background-color: rgb(37, 34, 34);
    align-items: center;
    color: white;
    font-family: "Merriweather", serif;
    padding: 0;
    margin: 0;
    /*overflow: hidden;*/
}
.header{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    background: linear-gradient(to bottom, rgba(0,0,0,1),rgba(0,0,0,.9), rgba(0,0,0,0)) ;
    z-index: 10;
}
.header--logo{
    border-radius: 50%;
    height: 40px;
    width: 40px;
}
.site--name{
    font: 2rem "Bungee Spice", sans-serif;
    display: flex;
    align-items: center;
    margin-left: 10px;
    cursor: pointer;
}
.header--movies{
    display: flex;
}   
.header--movies > a{
    margin: 20px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    text-decoration: none;
}
a.active{
    text-shadow: 0 0 20px #ffffff;
    font-size: 1.1rem;
}
.allMoviePage{
    padding-top: 60px;
    margin-left: 20px;
    margin-right: 20px;
}
.header--search{
    display: flex;
    align-items: center;
}
.searchField{
    height: 25px;
    border-radius: 25px;
    border: none;
    transition:all .3s ease-in;
}
.searchField:focus{
    outline:solid rgba(0,0,0,0.7) 2000px;
}
.header--user{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 10px;
}
.user--signUp{
    background-color: orange;
    padding: 5px;
    border-radius: 10px;
    margin-left: 3px;
}
.preview--box{
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-bottom: 20px;
}
.preview--title{
    position: absolute;
    display: flex;
    bottom: 120px;
    left: 50px;
    height: 80px;
    width: 50%;
    align-items: center;
    font: bold 3rem "Merriweather", serif;
    text-shadow: 0 0 10px black;
}
.movie--selection{
    margin: 20px 20px;
}
.movie--header{ 
    display: flex;
    justify-content: space-between;
    align-items: center;
    font: 1.3rem "Merriweather", sans-serif;
    font-weight: bold;
}
.movie--array{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin-bottom: 20px;
}
.resultBoxHidden{
    display: grid;
    right: 60px;
    position: fixed;
    width: 350px;
    height: 500px;
    margin-top: 65px;
    visibility: hidden;
    z-index: 1000;
}
.resultBoxShow{
    display: grid;
    right: 60px;
    position: fixed;
    width: 350px;
    height: 500px;
    margin-top: 65px;
    visibility: show;
    z-index: 1000;
}
.search--result{
    height: 50px;
    width: 100%;
    margin-bottom: 5px;
    display: grid;
    grid-template-columns: 12% 88%;
}
.search--result > div > img{
    border-radius: 5px;
}
.search--movie--name{
    cursor: pointer;
    font-size: .8rem;
}
@media (max-width: 1300px){
    .movie--array{
        grid-template-columns: repeat(5, 1fr);
    }
}
@media (max-width: 1100px){
    .movie--array{
        grid-template-columns: repeat(4, 1fr);
    }
}
@media (max-width: 900px){
    .movie--array{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width: 700px){
    .movie--array{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 500px){
    .movie--array{
        grid-template-columns: repeat(1fr);
    }
}

.movie--box{
    height: 320px;
    width: 190px;
    text-align: center;
    margin: 10px;
    display: grid;
    grid-template-rows: 85% 15%;
}
.movie--image{
    height: 270px;
    width: 100%;
    position: relative;
    border-radius: 15px;
    cursor: pointer;
}
.movie--poster{
    border-radius: 15px;
}
.movie--summary{
    width: 100%;
    height: 100%;
    position:absolute;
    top: 0;
    background: rgba(0,0,0,0.6);
    display: flex;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: 0.6s;
    font-size: .9rem;
    color: #fff;
    font-family: "sans-serif", serif;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 15px;
}
.movie--summary > p{
    display: -webkit-box;
    -webkit-line-clamp: 14;
    -webkit-box-orient: vertical;
    overflow: hidden;
    white-space: pre-wrap;
}
.movie--summary:hover{
    opacity: 1;
}
.movie--name{
    font: .8rem "merriweather", sans-serif;
    font-weight: bold;
    cursor: pointer;
}
.seeAll{
    font-size: 1rem;
    text-decoration: underline;
}